body {
	font-family: arial;
	height: 1000px;
}
div {
	margin: auto;
	width: 40%;
	background-color: #a4ebf3;
	padding-left: 5px;
}
h1 {
	text-align: center;
}
img {
	margin: auto;
	display: block;
}
.sub {
	text-indent: 20px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.button {
	border-radius: 4px;
  background-color: #aaaaaa;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  position: fixed;
  margin: 5px;
  margin-left: 70%;
  bottom: 5%;
  opacity: 0.6;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover {
	opacity: 1;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
aside {
	width: 250px;
	position: fixed;
	left: 5%;
	top: 20%;
	display: block;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	background-color: #f4f9f9;
	animation-name: table;
	animation-duration: 2s;
}
@keyframes table {
	0% {left: -20%;top: 20%;}
	100% {left: 5%;top: 20%;}
}
li {
	font-size: 18px;
	margin-right: 5px;
}